{
  "ConnectionStrings": {
    "DefaultConnection": "Server={{ sql_private_ip }},1433;Database=InstantPaymentBench;User Id={{ sql_auth_user }};Password={{ sql_auth_password }};TrustServerCertificate=True;Connect Timeout=15;Max Pool Size=1200;Min Pool Size=50"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
